Package: com.toggleable.cellularusageorderxi
Name: CellularUsageOrderXI
Depends: firmware (>= 7.0), mobilesubstrate
Version: 1.0.3
Architecture: iphoneos-arm
Description: Order Cellular Data Usage by Size.
Maintainer: Travis Roman
Author: Travis Roman <travis@toggleable.com>
Section: Tweaks
