Package: com.toggleable.cellularusageorderxi
Name: CellularUsageOrderXI
Depends: firmware (>= 7.0), mobilesubstrate
Version: 1.0.3
Architecture: iphoneos-arm
Description: Sort celluar data based on usage.
Maintainer: Travis Roman <travis@toggleable.com>
Author: Travis Roman <travis@toggleable.com>
Section: Tweaks
Tag: purpose::extension, compatible_min::ios7.0, compatible_max::ios11.4
